{% extends 'base.html' %}

{% block title %}<title>Главная</title>{% endblock %}
{% block content %}
    <h1>Добро пожаловать на сайт нашей фирмы</h1>
    <p>Наша не очень преуспевающая фирма предоставляет товары и услуги для вас :)</p>
    <hr>

    <h3>Поиск</h3>
    <form action="{% url 'result' %}" method="get">
        <input name="search" type="text" placeholder="Найти...">
    </form>
    <hr>

    <h3>Последние 5 товаров</h3>
    {% for product in object_list %}
        <h4>{{ product.title }}</h4>
        <p><img src="{{ product.img }}" style="height: 200px; width: 200px"></p>
        <br><br>
        <a href="{% url 'details' product.pk %}"><p>Перейти к товару</p></a>
        <hr>
    {% endfor %}
{% endblock %}

